[Unit]
Description=Prayer Times BackgroundWorker

[Service]
Type=notify
ExecStart=/usr/sbin/PrayerTimes.BackgroundWorker

[Install]
WantedBy=multi-user.target